* {
  color: #c6d0f5;
}

#control-center-window {
  background: transparent;
  font-family: FantasqueSansM Nerd Font Propo;
  font-size: 18px;
}

.control-center {
  padding: 16px 0;
  border-radius: 16px 0 0 16px;
  box-shadow:
    0 0 8px 0 rgba(0, 0, 0, 0.8),
    inset 0 0 0 1px #414559;
  background: #303446;
}

.widget-title,
.widget-dnd,
.widget-volume {
  margin-right: 16px;
  margin-left: 16px;
}

.widget-title {
  margin-top: 0;
}

.widget-volume {
  padding: 0;
  background: transparent;
}

.widget-volume scale {
  padding: 0;
}

.notification-group {
  border-radius: 8px;
}

.notification-group-headers {
  margin: 0;
}

.notification-group-header {
  font-size: inherit;
}

.notification-group-buttons {
  margin-right: 0;
}

.notification-group-buttons .image-button {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: none;
}

.notification-content {
  padding: 12px;
}

.notification-default-action:hover .notification-content,
.notification-default-action:focus .notification-content,
.notification-group:hover,
.notification-group:focus {
  background: transparent;
  box-shadow: inset 0 0 2px 1px #a6d189;
}
