window#waybar {
  background: transparent;
  color: #c6d0f5;
  font-family: FantasqueSansM Nerd Font Propo;
  font-size: 18px;
}

.modules-right > widget > * {
  padding: 2px 8px;
  border-radius: 8px;
}

#workspaces {
  padding: 0;
  border-radius: 0;
  background: none;
}

#workspaces button {
  border: 0;
  padding: 2px 8px;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  transition: none;
}

#workspaces button:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#workspaces button:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#workspaces button.active,
#workspaces button.urgent {
  color: #414559;
}

#workspaces button.active {
  background: #babbf1;
}

#workspaces button.urgent {
  background: #ef9f76;
}

#window,
#mpris {
  padding: 0;
  background: transparent;
  text-shadow: 1px 1px 1px #232634;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #ef9f76;
}

#custom-dunst.have-waiting,
#idle_inhibitor.activated {
  color: #ef9f76;
}
