#waybar {
  background: @base;
  color: @text;
  font-family: FantasqueSansM Nerd Font Propo;
  font-size: 18px;
  text-shadow: 1px 1px 1px @crust;
}

button {
  border: 0;
  border-bottom: 2px solid transparent;
  padding: 0 8px;
  border-radius: 0;
  background: transparent;
  color: inherit;
  text-shadow: inherit;
}

button:hover {
  border-color: alpha(@mauve, 0.5);
  background: transparent;
}

button.active {
  border-color: @mauve;
  color: @mauve;
}

.modules-left > widget > *,
.modules-center > widget > *,
.modules-right > widget > * {
  padding: 0 8px;
}

#workspaces {
  padding: 0;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

button.urgent,
#privacy-item,
#custom-swaync.notification,
#custom-swaync.dnd-notification,
#idle_inhibitor.activated {
  color: @peach;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @peach;
}
