auto_layout false
session_serialization false
theme "catppuccin-frappe"

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

keybinds clear-defaults=true {
    shared_except "normal" {
        bind "Esc" { SwitchToMode "Normal"; }
    }
    normal {}
    shared {
        bind "Alt n" { NewPane; }
        bind "Alt d" { NewPane "Down"; }
        bind "Alt r" { NewPane "Right"; }
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt H" { MovePane "Left"; }
        bind "Alt J" { MovePane "Down"; }
        bind "Alt K" { MovePane "Up"; }
        bind "Alt L" { MovePane "Right"; }
        bind "Alt ," { Resize "Increase Left"; }
        bind "Alt ." { Resize "Increase Right"; }
        bind "Alt -" { Resize "Increase Up"; }
        bind "Alt =" { Resize "Increase Down"; }
        bind "Alt m" { ToggleFocusFullscreen; }
        bind "Alt `" { TogglePaneEmbedOrFloating; }
        bind "Alt 0" { ToggleFloatingPanes; }

        bind "Alt t" { NewTab; }
        bind "Alt [" { GoToPreviousTab; }
        bind "Alt ]" { GoToNextTab; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }

        bind "Alt /" { EditScrollback; }
        bind "Alt z" { Detach; }

        bind "Alt o" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                move_to_focused_tab true
            };
        }

    }
}
